# extracted from a notebook

## third-party
crunch-cli  # alias of crunch
networkx
numpy
pandas
pytorch-lightning  # alias of pytorch_lightning
scikit-learn  # alias of sklearn
torch
tqdm

## standard
#os
#typing
